@import './base.css';

@font-face {
    font-family: "Digital";
    src: url("./fonts/digital-7.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#app {
    width: 100%;
    height: 100%;
    margin: 0 0;
    font-weight: normal;
}

.container {
    border: 2px solid var(--mode-color, transparent);
    box-shadow: inset 0 0 5px var(--mode-color, transparent);
}

.editor-page {
    --mode-color: var(--mode-editor-color);
}

.view-page {
    --mode-color: var(--mode-view-color);
}

a {
    text-decoration: none;
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

.info {
    font-size: 0.8em;
    color: var(--color-text-details)
}

/* {{{ Buttons */

button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-letter);
    padding: var(--spacing-sm) var(--spacing-sm);
    transition: 0.3s;
    cursor: pointer;
}

button[disabled] {
    cursor: not-allowed;
}

button.btn-small {
    padding: var(--spacing-xs) var(--spacing-xs);
    border-radius: 1rem;
}

button.btn-transparent {
    background: transparent;
    border: none;
    color: inherit;
}

button.action {
    width: var(--button-size);
    height: var(--button-size);
    --icon-size: calc(var(--button-size) / 2);
}

button.active,
.primary-btn {
    background: var(--color-primary);
    color: var(--color-txt-primary);
}

button.active:not([disabled]):hover,
.primary-btn:not([disabled]):hover {
    background: var(--color-primary-hover);
}

/* }}} */
/* {{{ animations */

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* }}} */
