@import './base.css';

#app {
    width: 100%;
    height: 100%;
    margin: 0 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-letter);
    padding: var(--spacing-sm) var(--spacing-sm);
    transition: 0.3s;
    cursor: pointer;
}

.info {
    font-size: 0.8em;
    color: var(--color-text-details)
}

.primary-btn {
    background: var(--color-primary);
    color: var(--color-txt-primary);
}
